body {
  background-color: #0d1117;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

.task {
  background: #161b22;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.task button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #238636;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.task button:hover {
  background-color: #2ea043;
}